/.mypy_cache
/backend/api/.mypy_cache
/backend/api/.vscode
/backend/api/venv

/backend/auth/__pycache__
/backend/auth/.mypy_cache
/backend/auth/.vscode
/backend/auth/venv
/backend/auth/spotify.env

/web/.next
/web/node_modules
